@use "sass:color";

$primary-color: #003366;
$secondary-color: #ffb84d;
$text-color: #333;
$background-color: #f9f9f9;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
  color: $text-color;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500, 1fr));
  gap: 20px;

  .card {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: 20px;
    background-color: $background-color;
    border-radius: 12px; // Rounded corners
    box-shadow: $box-shadow;
    border-left: 6px solid $secondary-color;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }

    h2 {
      margin-bottom: 20px;
    }

    p {
      line-height: 1.6;
      margin-bottom: 15px;

      em {
        font-style: italic;
        color: color.adjust($text-color, $lightness: -20%);
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;

      li {
        margin-bottom: 10px;

        strong {
          color: $primary-color;
        }
      }
    }

    .action-link {
      justify-self: end;
      align-self: end;
      font-size: 1rem;
      font-weight: bold;
      color: $primary-color;
      text-decoration: none;
      border: 1px solid $primary-color;
      border-radius: 20px; 
      padding: 8px 15px;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: $primary-color;
        color: $background-color;
      }
    }
  }
}