    :root {
      --personal-border-color: #ff9800;
      --professional-border-color: #003366;
      --background-color: #f4f8fb;
      --text-color: #333;
      --box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

    .card-section {
      margin-bottom: 60px;
    }

    .card-section-header {
      text-align: center;
      margin-bottom: 20px;
    }

    .card-section-title {
      font-size: 2.5rem;
      color: var(--professional-border-color);
      font-weight: bold;
    }

    .card-section-subtitle {
      font-size: 1.2rem;
      color: #666;
    }

    .card-section-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      gap: 30px;
      max-width: 1200px;
      margin: 0 auto;
    }

    .card {
      background-color: #ffffff;
      border-radius: 15px;
      padding: 25px;
      box-shadow: var(--box-shadow);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    }

    .card-title {
      font-size: 1.5rem;
      color: var(--professional-border-color);
      margin-bottom: 15px;
      font-weight: bold;
    }

    .card-subtitle {
      font-size: 1.2rem;
      color: #666;
      margin-bottom: 15px;
      font-weight: 500;
    }


    .card-details {
      /* list-style: none; */
      padding: 10 px;
      margin: 0 0 20px 0;
    }

    .card-details li {
      margin-bottom: 10px;
      font-size: 1rem;
      color: #555;
    }

    .card-duration {
      font-size: 0.9rem;
      color: #777;
      font-style: italic;
      text-align: right;
    }

    .card-link {
      display: inline-block;
      margin-top: 10px;
      text-decoration: none;
      font-weight: bold;
    }

    /* Mobile Responsiveness */
    @media (max-width: 768px) {
      .card-section-title {
        font-size: 2rem;
      }

      .card-section-grid {
        grid-template-columns: 1fr;
        /* Single column layout for smaller screens */
      }
    }